<app-header
(searchTextChanged)="onSearchTextEntered($event)"
></app-header>
<div class="container">
<ul class="nav justify-content-end">
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Company</a>
    <ul class="dropdown-menu">
      @for (companyName of uniqueCompanyNames; track companyName){
        <li><a class="dropdown-item" [ngClass]="{'active': companyName==companyNameFilter}" (click)="onCompanyNameFilterChange(companyName)">{{companyName}}</a></li>
      }
      @if(companyNameFilter){
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="/">Clear</a></li>
      }
    </ul>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Job Type</a>
    <ul class="dropdown-menu">
      @for (jobType of uniqueJobTypes; track jobType){
        <li><a class="dropdown-item" [ngClass]="{'active': jobType==jobTypeFilter}" (click)="onJobTypeFilterChange(jobType)">{{jobType}}</a></li>
      }
      @if(jobTypeFilter){
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="/">Clear</a></li>
      }
    </ul>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Location</a>
    <ul class="dropdown-menu">
      @for (location of uniqueLocations; track location){
        <li><a class="dropdown-item" [ngClass]="{'active': location==locationFilter}" (click)="onLocationFilterChange(location)">{{location}}</a></li>
      }
      @if(locationFilter){
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="/">Clear</a></li>
      }
    </ul>
  </li>

</ul>


<div class="row">
  <!-- <div class="col-3"></div> -->
  <div class="col-4"></div>
  <div class="col-4"></div>
  <div class="col-4">
    <div class="form-group">
      <select class="form-select" id="sortOptions" [(ngModel)]="selectedSortOption" (change)="onSortOptionChange()">
        <option [ngValue]="null" selected>Relevance</option>
        <option [ngValue]="'titleAsc'">Job Title: Ascending</option>
        <option [ngValue]="'titleDesc'">Job Title: Descending</option>
        <option [ngValue]="'dateAsc'">Date Posted: Ascending</option>
        <option [ngValue]="'dateDesc'">Date Posted: Descending</option>
      </select>
    </div>


  

  </div>

</div>

@for (job of paginatedData; track job.id){
  @if(searchText=='' || job.roleName.toLowerCase().includes(searchText)){
    <br>
    <div class="card">
        <div class="card-header">
            {{job.companyName}} 
        </div>
        <div class="card-body">
          <h5 class="card-title">{{job.roleName}}</h5>
          <p class="card-text">{{job.city}}, {{job.country}} | {{job.jobType}}</p>
          <br>
          <p>{{job.aboutRole}}</p>
          <a [routerLink]="['/job-description', job.id]" class="btn btn-outline-secondary">Learn More</a>
        </div>
      </div>
      <br>
  }

}
<app-pagination 
  [totalItems]="totalItems"
  [itemsPerPage]="itemsPerPage"
  [currentPage]="currentPage"
  (onClick)="changePage($event)"
  ></app-pagination>

</div>